.row{
    text-align: center;
}

.row.hidden {
    display: none;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("img/tardis.webp");
    
    cursor: pointer;
}

.card.done {
    cursor: defualt;
}

.card.done:hover {
    cursor: defualt;
    box-shadow: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
}